////////// TO DO ////////////

// 3. google map pin???
// 4. js плейсхолдеры и анимация в ie и ff и симулятор сафари!
// 5. селект в ie - убрать bg и color у options + стрелочка на фокусированном
// 6. отступ справа у bg


// 2. инпут:чект + .selector перед ним прописываем:
// input:enabled + .selector
// input:disabled + .selector









/////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  VARIABLES  //////////////////////////
////////////////////////////////////////////////////////////////////////////

////////////////////// Colors ////////////////////////

// Text

$white--transparent: rgba(230, 230, 235, 0.4);

$orange: #ffbc9e;
$orange--transparent: rgba(249, 172, 159, 0.3);

$red: #ec593c;
$red--transparent: rgba(236, 89, 60, 0.3);

$dark-gray: #333;
$dark-gray--transparent: rgba(178, 178, 178, 0.3);

$gray: #5a5a5a;
$brown: #323;


// Backgrounds

$green: #849d8f;
$blue: #8996a6;
$light-brown: #9d8b84;


////////////////////// Typography ////////////////////////

$roboto: Roboto, Arial, Helvetica, sans-serif;


// Text

$text_font-size--xs: 14px;
$text_font-size--sm: 16px;
$text_font-size--lg: 18px;

$text_font-size--xs: 20px;
$text_line-height--sm: 22px;
$text_line-height--lg: 22px;


$text_color: white;


// Headings

$h1_font-size: 60px;
$h2_font-size: 35px;
$h3_font-size: 24px;

$h1_line-height: 72px;
$h2_line-height: 41px;
$h3_line-height: 30px;

// $headings_font-family: $roboto;

$h1_color: white;
$h2_color: white;
$h3_color: $brown;


////////////////////// Links ////////////////////////

$link_color: white;
$link_color--hover--1: $orange;
$link_color--hover--2: $red;
$link_color--current: $dark-gray;

$link_underline: 1px solid  $white--transparent;
$link_underline--hover--1: 1px solid  $orange--transparent;
$link_underline--hover--2: 1px solid  $red--transparent;
$link_underline--current: 1px solid  $dark-gray--transparent;




/////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  MIXINS  /////////////////////////
////////////////////////////////////////////////////////////////////////


////////////////////// Most useful /////////////

@mixin container {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

////////////////////// Resets //////////////////

@mixin ul-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

@mixin link-reset {
  color: inherit;
  text-decoration: none;
}

@mixin margin-reset {
  margin: 0;
}


////////////////////// States ////////////////// 

@mixin link-disabled {
  pointer-events: none;
  cursor: default;
}

@mixin link-states__green-bg {
      
  &:hover {
    color: $link_color--hover--1;
    border-bottom: $link_underline--hover--1;
  }  
      
  &:active {
    color: $link_color--hover--1;
    border-bottom: $link_underline--hover--1;
  }  
}

@mixin link-states__white-bg {
      
  &:hover {
    color: $link_color--hover--2;
    border-bottom: $link_underline--hover--2;
  }  
      
  &:active {
    color: $link_color--hover--2;
    border-bottom: $link_underline--hover--2;
  }  
}
      




////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  SCAFFOLDING  ///////////////////
////////////////////////////////////////////////////////////////////////


body {
  width: 100%;
  
  margin: 0;
  padding: 0;

  background-color: $green;
  color: white;
  
  font-family: $roboto;
  font-size: $text_font-size--sm;
  line-height: $text_line-height--sm;
}

.main-header__wrap,
.slider__wrap,
.bunners__wrap,
.popular__wrap,
.features__wrap,
.contacts,
.catalog-header__wrap,
.search-options__wrap,
.catalog,
.pagination__wrap,
.main-footer__wrap {
  @include container;
}

.main-header,
.slider,
.bunners,
.features,
.contacts,
.catalog-header,
.search-options,
.pagination,
.main-footer {  
  padding: 0 2.3%;
}

.main-feedback {
  height: 77vh;
}
    

////////////////////////////////////////////////////////////////////////
////////////////////////////////////// TYPE  //////////////////////////
///////////////////////////////////////////////////////////////////////


h1 {
  color: white;
  
  font-family: $roboto;
  font-size: $h1_font-size;
  font-weight: bold;
  line-height: $h1_line-height;
}

h2 {
  color: white;
  
  font-family: $roboto;
  font-size: $h2_font-size;
  font-weight: bold;
  line-height: $h2_line-height;
}

h3 {
  color: $brown;
  
  font-family: $roboto;
  font-size: $h3_font-size;
  font-weight: bold;
  line-height: $h3_line-height;
}

/////////////////////////////////////////////////////////////////////////
//////////////////////////////////// ANIMATION  /////////////////////////
/////////////////////////////////////////////////////////////////////////


@keyframes bounce {
  0% {transform: translateX(-200px);}
  50% {transform: translateX(50px);}
  75% {transform: translateX(-5px);}
  80% {transform: translateX(0px);}
  90% {transform: translateX(5px);}
  100% {transform: translateX(0);}
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}



/////////////// z-index /////////////
.slider {
  z-index: 1;
}
.sub-menu {
  z-index: 10;
}
  
.user-block__popup {
  z-index: 10;
}

.bunner-blog {

  &__img {
    z-index: 2;
  }
  
  &__inner {
    z-index: 3;
  }
}

.catalog-item {

  &__btn {
    z-index: 20;
  }
}

.popular {
  .catalog-item::before {
    z-index: 6;
  }
 }


.adress-block {
  z-index: 1;
}

.feedback-form {
  z-index: 100;
}



/////////////// background /////////////

.catalog-background {
  min-width: 120vh;
  background-image: linear-gradient(#9db1a5, #849d8f);
}


/////////////// buttons /////////////
.btn--red {
  
  
  display: block;
  padding: 0;
  // padding: 12px 24px;
  border: 0 none;
  outline: 0 none;
  
  color: white;
  background-color: #f26843;
  background-image: linear-gradient(#f26843, #e74a35);
  
  @include link-reset;
  
  border-radius: 25px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76), 0 0 5px rgba(61, 61, 46, 0.34);
  
  font-family: $roboto;
  font-size: $text_font-size--lg;
  line-height: $text_line-height--lg;
  font-weight: bold;
  
  &:hover {
    background: #f26843;
    background-image: linear-gradient(#f58669, #ec6f5e);

    box-shadow: 0 2px 2px 0 #ac1000;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76), 0 0 5px rgba(61, 61, 46, 0.34);
  }

  &:active {
    background: #f26843;
    background-image: linear-gradient(#d84732, #e1603e);

    box-shadow: inset 0 2px 2px 0 #942718;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76), 0 0 5px rgba(61, 61, 46, 0.34);
  }
}


/////////////// textarea /////////////
.textarea {
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
    
  border-radius: 5px;
  border: 1px solid #d3d3d2;
    
  color: #353535;
    
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-family: $roboto;
    
  &:hover {
    border: 1px solid #c7c6c5;
    box-shadow: inset 0 0 0 1px #c7c6c5;
  }

  &:focus + .placeholder .form-hint {
    top: -72px;
    font-size: 11px;
    line-height: 24px;
    color: #5b9ddf;
  }
}

.placeholder {
  position: relative;
}

.form-hint {
  position: absolute;
  left: 15px;
  top: -42px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  transition: 0.2s ease all;
}


.lostfocus {
  top: -72px;
  font-size: 11px;
  line-height: 24px;
  color: #9a9a9a;
}

.big-area .form-hint {
  top: -160px;
}

.big:focus + .placeholder .form-hint {
  top: -192px;
}

.big-area .lostfocus {
  top: -192px;
}




///////////////////////////////////////////////////////////////////////
//////////////////////////////////////  HEADER  ///////////////////////
///////////////////////////////////////////////////////////////////////


.main-header {
  @include clearfix;
  
  position: relative;

  min-height: 115px;
  margin-top: -14px;

  &__logo {
    float: left;

    width: 154px;
    margin-left: -7px;
    padding-top: 8px;
  }

  &__img {
    color: white;
  }

  &__contacts {
    width: 200px;
    margin-left: auto; 
    
    text-align: right;
    
    a {
      @include link-reset;
      
      font-size: 22px;
      font-weight: bold;
      line-height: 28px;
    }
  } 
  &__hours {
    margin-bottom: 0;
    
    font-size: 14px;
    line-height: $text_font-size--xs;
    font-weight: bold;
  }
}


////////////////////// Main-nav ////////////////////////

.main-nav {
  position: absolute;
  left: 154px;
  right: 270px;

  &__menu {
    padding-top: 22px;
    margin-left: 35px; 
    
    @include ul-reset; 
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    
    padding: 0 14px;
    line-height: 33px;
    
    a {
      border-bottom: $link_underline;

      @include link-reset;  
    }  
    
    &:hover {
      background: #f7f6f3;
      color: black;
      font-weight: bold;
      
      border-radius: 20px;
      
      a {
        border-bottom: 0;
      } 
    } 
    
    &:active {
      background: #f7f6f3;
      color: black;
      font-weight: bold;
      
      border-radius: 20px;
      box-shadow: inset 0 2px 1px 0 #696969;
      
      a {
        border-bottom: 0;
      }     
    }

    &--current {
      background: #D07058;
      border-radius: 20px;
      
      font-weight: bold;
      a {
        border-bottom: 0;
      }
    }

    &--dropdown {
      position: relative;
      
      margin-bottom: 10px;
      
      &:hover>.sub-menu {
        display: block; 
      } 
    }
  }
}


.user-block__btn--search:hover .user-block__popup--search {
  display: block;
}

.sub-menu {
  display: none;
  
  position: absolute;
  top: 37px;
  left: -7px;
  
  min-width: 143px;

  background: #F8F7F4;
  color: #343434;
  box-shadow: 0 20px 20px 0 rgba(0, 0 , 0, 0.4);

  border-radius: 5px;
  
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  
  ul {
    @include ul-reset;
  }

  &__item {
    
    a {
      display: block;
      
      margin: 0 8px;
      padding-left: 12px;
      padding-top: 6px;
      padding-bottom: 6px;
      border-bottom: 0;
    }

    &:hover {
      background: #FBDED7; 
    }

    &:active {
      background: #F6B5A5;
    }

    &--current {
      @include link-disabled;
    
      color: white;
      background: #D07058;
      
      &:hover {
      background: #D07058; 
      }
    }
  }

  &__item:first-child {

    a {
      padding-top: 9px;
      padding-bottom: 10px;
      border-bottom: 1px solid #D1D0CE;
      font-weight: bold; 
    }
    
    &:hover {
      background: #FBDED7;
      
      border-radius: 5px 5px 0 0;
    }

    &:active {
      background: #F6B5A5;
      
      border-radius: 5px 5px 0 0;
    } 
  }

  &__item:nth-child(2) {
    padding-top: 2px;
  }

  &__item:last-child {
    &:hover {
      background: #FBDED7;
      
      border-radius: 0 0 5px 5px;
    }

    &:active {
      background: #F6B5A5;
      
      border-radius: 0 0 5px 5px;
    } 
  }
} 


////////////////////// User-block //////////////////////// 

.user-block {
  float: right;

  max-width: 270px;
  padding-top: 22px;
  margin-bottom: 7px;
    
  &__element {
  position: relative;
          
  display: inline-block;
  vertical-align: top;
    
  min-width: 32px;
  margin-right: 7px;
      
  text-align: right;
      
    &:last-child {
      margin-right: 0;
    }
  }

  &__btn {    
    display: block;
      
    padding: 0 45px;
    padding-right: 15px;
    margin-bottom: 10px;
    
    @include link-reset;
    
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white; 
      
    font-size: 14px;
    line-height: 32px;
    font-weight: 500;
      
    &--icon {
      position: absolute; 
      left: 15px;
      top: 6px; 
      
        
      &:nth-child(2) {
        position: absolute; 
        left: 20px;
        top: 10px;
          
        color: transparent;
      }
    } 

    &--search {
      width: 32px; 
      height: 32px;
      padding: 0; 
          
      .user-block__btn--icon {
        left: 7px;
        top: 7px;
      }
    }

    &--basket {
      min-width: 57px;
      text-align: center;
    }

    &:hover {
      background: #F8F7F4;
      color: black;
        
      .user-block--icon:first-child {
        color: black;
      }

      .basket-filled {

        background: #F8F7F4;
        color: black;
          
        &--icon {
          color: black;
            
          &:nth-child(2) {
            color: #e1603e;
          }
        }
      }
    }
  }
    
    
  &__popup {
    display: none;
      
    position: absolute;
    top: 10px;
    left: -7px;
        
    padding: 0 16px;
        
    background-color: #F8F7F4;
    text-align: left;
        
    border-radius: 5px;
        
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
        
    &--search {
      top: 36px;
      left: -295px; 
      
      width: 310px;
      padding: 10px;

      border-radius: 5px;
    }

    &--login {
      @include clearfix;
        
      top: 36px;
      left: -180px;
      
      width: 240px;
      
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &--basket {
      top: 36px;
      left: -425px;
      
      width: 510px;
      padding-top: 16px;
      padding-bottom: 18px;
      
      color: $dark-gray;   
    }      
  }

  &__element:hover>&__popup {
      display: block;
  }
}


.basket-filled {

  svg:nth-child(2) {
      color: #e1603e;
  }

  &:hover {
    svg:nth-child(1) {
    color: black;
    
      &:nth-child(2) {
        color: #e1603e;
      }
    }

    .basket-filled__popup {
      display: block;
    }
  }
}


.login {
  
  &__btn,
  &__support {
    margin-top: 5px;
  }

  &__btn {
    float: left;
          
    padding: 7px 30px;

    font-size: 15px;
  }

  &__support {
    float: right;
          
    width: 120px;
          
    a {
      display: inline-block;
      vertical-align: top;
      
      @include link-reset;
       
      color: $dark-gray;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            
      font-size: 13px;
      line-height: 12px;
            
      @include link-states__white-bg;
    }       
  }
}


.basket {

  &__table {     
    border-bottom: 1px solid #cacac7;
  }
  &__row {
    display: block;
    padding-top: 20px;
  }

  &__row:nth-child(2) {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  &__cell {     
    
    padding-bottom: 5px;
    padding-right: 14px;
    
    vertical-align: top;
    
    font-size: 13px;
    line-height: 18px;
  }

  &__cell:nth-child(2) {
    margin-top: -4px;
  }

  &__btn--delete {
    position: relative;
          
    width: 10px;
    height: 30px;
          
    background: transparent;
    border: 0 none;
    outline: 0 none;
          
    cursor: pointer; 
    
    &::after,
    &:before {
      content: "";
            
      position: absolute;
      top: 0px;
      left: 5px;
            
      width: 1px;
      height: 15px;
      
      border-radius: 1px;
      
      background-color: $dark-gray;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }      
  }

  &__cell:nth-child(3) {
    width: 217px; 
  }

  &__cell:nth-child(4) {
    width: 97px;
    padding-left: 14px;
          
    color: #808080;
  }

  &--bold { 
    color: $dark-gray;
  }

  &__cell:nth-child(5) {
    width: 50px;
    padding-left: 13px;
  }

  &__summary {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 10px;
    
    text-align: right;
    
    font-size: 15px;
  }

  &__btn {
    float: right;
    
    margin-bottom: 4px;
    padding: 0 21px;
    
    color: white;
    font-size: 15px;
    line-height: 34px;
  }
}

///////////////////////////////////////////////////////////////////////
//////////////////////////////////////  SLIDER  ///////////////////////
///////////////////////////////////////////////////////////////////////

.toggle{
  display: none;
}

.index-background {
  min-width: 960px;
  margin-top: -14px;
      
  background-repeat: no-repeat;
  background-position: 50% 0;
  
  transition: all 0.3s ease-out;
}

.index-background::before,
.index-background::after {
  content: "";

  visibility: hidden;
}

.index-background::before,
.index-background::after {
  background-image: url("../img/background/slide-1.png");
}

.index-background::after {
  background-image: url("../img/background/slide-2.png");
}


.toggle--1:checked ~ .index-background{
  background-color: #849d8f;
  background-image: url("../img/background/slide-1.png");
}
.toggle--2:checked ~ .index-background{
  background-color: #8996a6;
  background-image: url("../img/background/slide-2.png");
}
.toggle--3:checked ~ .index-background{
  background-color: #a7958e;
  background-image: url("../img/background/slide-3.png");
}

.slider {
  position: relative;
  margin-bottom: 42px;
  padding-top: 200px;
  overflow: hidden;
  
  &__item {
    display: none;
  }

  &__text {
    width: 690px;
    margin: 0 auto;
    margin-top: 73px;
    
    text-align: center;
  }

  &__title {
    margin-bottom: 28px;
        
    color: #fff;
    
    font-size: $h1_font-size;
    line-height: 60px;
    font-weight: 700;
  }

  &__controls--wrap {
    position: absolute;
    bottom: 20px;
    
    display: block;
    
    width: 100px;
  }
  
  &__btn {
    height: 63px;
    width: 280px;
    margin: 0 auto;
    
    border-radius: 100px;
    
    font-size: 32px;
    line-height: 63px;
  }

  &__control {
    display: inline-block;
    vertical-align: top;
    
    width: 17px;
    height: 17px;
    margin-right: 3px;
    
    cursor: pointer;
    
    border: 2px solid white;
    border-radius: 50%;
    
    font-size: 0;
  }
}

.toggle--1:checked ~ .index-background .slider__control--1,
.toggle--2:checked ~ .index-background .slider__control--2,
.toggle--3:checked ~ .index-background .slider__control--3 {
  background-color: #fff;
}

.toggle--1:checked ~ .index-background .slider__item--1 {
  display: block;
}

.toggle--2:checked ~ .index-background .slider__item--2 {
  display: block;
}

.toggle--3:checked ~ .index-background .slider__item--3 {
  display: block;
}


///////////////////////////////////////////////////////////////////////
//////////////////////////////////////  BANNERS  //////////////////////
///////////////////////////////////////////////////////////////////////


.bunners {
  @include clearfix;
  
  margin-bottom: 15px;  
}

.bunner {
  position: relative;

  width: 48.9%;
  box-sizing: border-box;
  height: 230px;
  padding: 15px 18px;
  margin-bottom: 15px; 
    
  overflow: hidden;

  border-radius: 18px;
    
  &__left {
    float: left;
  }

  &__right {
    float: right;
  }
  &__title {
    @include margin-reset;
    margin-bottom: 17px;
  }

  &__text {
    @include margin-reset;
    margin-bottom: 25px;
    
    font-size: $text_font-size--lg;
    line-height: $text_line-height--lg;
    font-weight: bold;
    padding-right: 10px;
  }

  &__btn {
    position: absolute;
    bottom: 25px;
    right: 21px;
    
    float: right;
    padding: 0 23px;
    
    line-height: 47px;
  }

  &-raspberry {
    background: #ae1d40 url("../img/background/bg-raspberry.jpg") no-repeat;
  }

  &-choco {
    background: #3a1d13 url("../img/background/bg-chocolate.jpg") no-repeat;
  }

  &-blog {
    position: relative;
    
    height: 220px;
    padding: 0;
        
    background: white;
    
    .bunner-blog__img {
      position: absolute;
      right: 0;
      
      border-radius: 18px;
    }

    &__inner {
      position: absolute;
      left: 20px;
      
      width: 300px;
      padding: 23px 0;
      
      font-size: 24px;
      line-height: 30px;
      font-weight: bold;
      color: #353535;
    }

    &__descript {
      @include margin-reset;
      margin-bottom: 3px;
      
      font-size: $text_font-size--sm;
      line-height: $text_line-height--sm;
      color: $gray;
    }

    &__title {
      @include margin-reset;
      
      font-size: 24px;
      line-height: 30px;
      font-weight: bold;

      a {
        @include link-reset;
        
        color: #353535;
        background: rgba(251, 251, 251, 0.8);
        border-bottom: 1px solid black;
        
        @include link-states__white-bg;
         
      }
    }    
  }

    &-subscript {
      height: 220px;
      padding: 6px;
      
      background: #f8f7f4;
      background-image: url("../img/background/pattern-postcard.png");
    
      &__inner {
        position: relative;
        
        height: 161px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 13px;
        padding-bottom: 34px;
        border-radius: 10px;
    
        color: $gray;
        background: #f8f7f4;
        
        p {
          min-height: 90px;
          margin-bottom: 2px;
        }
      }

      &__email--wrap {
        margin-right: 140px; 
      }
      
      &__email {
        width: 100%; 
        
        outline: 0 none; 
        border-radius: 3px;
      }
      
      .form-hint {
        left: 11px;
        
        font-size: 16px;
      }

      .lostfocus {
         font-size: 11px;
       }

      &__btn {
        position: static;
        float: right;
        
        min-width: 120px; 
        margin-top: 7px; 
        padding: 0 20px;      
        
        color: white;
        font-size: 17px;
        line-height: 44px;
        border: none;
      }
    } 
  }



///////////////////////////////////////////////////////////////////////
////////////////////////////////////// CATALOG-ITEM  //////////////////
//////////////////////////////////////////////////////////////////////


.catalog-item {
  position: relative;
    
  display: inline-block;
  vertical-align: top;

  width: 22.75%;
  padding-right: 1.15%;
  padding-left: 1.15%;
  padding-top: 10px;
  padding-bottom: 20px;
  
  margin-left: 14px;
  margin-right: -26px;
  
  margin-bottom: 10px;
  
  
  background-color: transparent;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  
    
  &__inner {

    position: relative;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &:last-child {
    margin-right: 0;
  }

  &__img {
    position: relative;
      
    max-width: 100%;
    height: auto;
    margin-bottom: 6px;
  }

  &__link {
    @include link-reset;
  }

  &__title {
    @include margin-reset;
      
    text-align: center;
    font-weight: normal;
      
    &--inner {
      border-bottom: 1px solid $white--transparent;
    }
  }

  &:hover &__title--inner {
    border: none;
  }

  &__price {
    position: absolute;
    bottom: 8%;
      
    font-size: 45px;
    line-height: 1.2;
    font-weight: bold;
      
    text-shadow: 1px 1px 3px rgba(49,50,53, 0.5);
      
    span {
      font-size: 30px;
    }
  }

  &__btn {
    display: none;
    
    position: absolute;
    top: 100%;
    left: 0;
    
    width: 100%;
      
    background: rgba(255, 255, 255, 0.3);
        
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
      
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);

    a {
    display: block;
    
    width: 194px;
    margin: 0 auto;
    margin-bottom: 20px;
    
    font-size: 15px;
    line-height: 35px;
    text-align: center;
    }
  }


  &:hover &__btn {
    display: block;
  }
}



///////////////////////////////////////////////////////////////////////
//////////////////////////////////////  POPULAR  //////////////////////
///////////////////////////////////////////////////////////////////////


.popular {
  padding-left: 1.15%;
  padding-right: 1.15%;
  margin-bottom: 9px;
  
  .catalog-item {
    margin-left: 0px;
    margin-right: -4px;
    
    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 12px;
      
      display: block;
      
      height: 70px;
      width: 71px;
      background: url("../img/icon/icon-hit.png") no-repeat;
    }
  }
}


/////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  FEATURES  ///////////////////////
////////////////////////////////////////////////////////////////////////


.features {
  margin-bottom: 40px;
  margin-left: 2.3%;
  margin-right: 2.3%;
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-right: 2px;
    
  background: #f4d77b url("../img/background/pattern-waffle.jpg");
  color: #323232;
    
  border-radius: 13px;
  
  &__inner {
    
  }
  
  &__title {
    @include margin-reset;
    
    margin-bottom: 7px;
    
    color: #323232;
  }
  
  &__item {
    @include margin-reset;
    position: relative;
    
    display: inline-block;
    vertical-align: top;
    
    box-sizing: border-box;
    width: 49%;
    
    margin-bottom: -10px;
    
    &:nth-child(odd) {
      padding-left: 10px;
    }

    &:nth-last-of-type(1),
    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }
  }
  
  &__text {
    padding-left: 55px;
    
    &:last-child,
    &:nth-last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    position: absolute;
    top: 2px;
    left: -3px;
    
    fill: #323232;
  }

  &__item:nth-of-type(even) &__icon {
    left: 9px;
  }
}


//////////////////////////////////////////////////////////////////////////
////////////////////////////////////// CONTACTS  /////////////////////////
//////////////////////////////////////////////////////////////////////////

.map {
  width: 100%;
  height: 430px;
  margin-top: 25px;
  
  background: transparent url("../img/background/map_1200x430.jpg") no-repeat 50% 0;
}

.contacts { 
  position: relative;
  
  box-sizing: border-box;
}

.adress-block {
  position: absolute;
  top: 65px;
  right: 2.3%;
    
  width: 253px;
  padding: 29px 26px;
  
  border-radius: 14px;
    
  color: #343434;
  background-color: white;
    
  font-size: 14px;
  line-height: 20px;
    
  &__item {
    @include margin-reset;
      
    margin-bottom: 18px;
  }

  &__item--bold {
    @include margin-reset;
      
    margin-bottom: 10px;
    margin-bottom: 10px;
      
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: black;
      
    a {
        @include link-reset;
    }
  }

  &__btn {
    margin-top: 25px;
    padding: 0 33px;
    
    color: white;
    
    font-size: 17px;
    line-height: 44px;
  }
}



///////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  CATALOG-HEADER  ///////////////////
//////////////////////////////////////////////////////////////////////////


.catalog-header {
  margin-bottom: 33px;
  
  &__breadcrumbs {
    @include ul-reset;
    margin-bottom: 4px;
    
    font-size: 14px;
    line-height: 19px;
    
    a {
      @include link-reset;
    }
  }
  &__item {
    position: relative;
    
    display: inline-block;
    vertical-align: top;
    
    margin-right: 20px;
    border-bottom: $link_underline;
    
    &:not(:last-child)::after {
      content: "»";
      
      position: absolute;
      top: 0px;
      left: 61px;
      
      @include link-disabled; 
      
      color: white;
    }

    @include link-states__green-bg;
  }

  &__item:last-child {
    @include link-disabled;
    
    margin-right: 0;
    border-bottom: none;
  }
  &__title {
    @include margin-reset;
    
    font-size: 35px;
    line-height: 30px;
    font-weight: bold;
  }
}



///////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  SEARCH-OPTIONS  ///////////////////
//////////////////////////////////////////////////////////////////////////


.search-options {
  width: 880px;
  margin-bottom: 12px;
  
  &__filter {
    display: inline-block;
    vertical-align: top; 
    
    margin-bottom: 18px;
    margin-right: 10px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 15px;
    
    font-size: 14px;
    line-height: 18px;
  }

  &__fieldset {
      border: 0;
      outline: 0;
      padding: 0;
      
      legend {
        font-size: 14px;
        font-weight: bold;
      }  
    }

    &__btn {
      margin-top: 22px;
      padding: 0 27px;
      
      border: 2px solid #f5f6f5;
      outline: 0;
      
      background-color: rgba(248, 247, 244, 0.2);
      border-radius: 30px;
  
      font-size: 16px;
      line-height: 32px;
      font-weight: 500;
      
      &:hover {
        background-color: #FAFBFB;
        color: #363636;
      }

      &:active {
        padding: 0 29px;
        border: none;
        
        background-color: #EAEAEA;
        color: #363636;
        
        box-shadow: inset 0 2px 1px #696969;
        
        line-height: 36px;
      }
    }

    input[type="radio"],
    input[type="checkbox"] {
      position: absolute;
      left: -9999px;
    }

    label {
      cursor: pointer;
    } 

    input:disabled+label {
      cursor: auto;
    }
}

.filter-fatness,
.filter-fillers,
.filter-price   {
  padding: 6px 15px;
    
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 30px;
}


.filter-sorting {
  width: 120%;
  height: 35px;
  padding: 5px 11px;
  
  border: 0;
  outline: 0;
  
  background-color: #a9b9af;
  color: white;
  
  &__wrap {
    position: relative;
    
    overflow-x: hidden;
    
    border-radius: 20px;
    
    &::before {
      content: "";
      position: absolute;
      top: 17px;
      right: 13px;
      
      border: 4px solid transparent; 
      border-top: 5px solid white;
    }
  }

  option {
    background-color: white;
    color: black;
  }

  &:focus{
    background-color: white;
    color: black;
  } 
}

.filter-price {
  height: 23px;
  
  &__scale {
    position: relative;
    
    width: 190px;
    height: 4px;
    margin-top: 9px;
    
    background-color: rgba(248, 247, 244, 0.5);
  }

  &__bar {
    position: absolute;
    top: 0;
    left: 18px;
    
    width: 100px;
    height: 4px;
    
    background-color: #F8F7F4;
  }

  &__toggle {
    position: absolute;
    top: -8px;
    
    width: 20px;
    height: 20px;
    
    border-radius: 50%;
    
    background-color: #F8F7F4;
    
    box-shadow:  0 1px 1px rgba(105, 105, 105, 0.6);
    
    cursor: pointer;
    
    &--min {
      left: 0;
    }

    &--max {
      left: 100%;
    }
  }
}



.filter-fatness {

  &__item {
    position: relative;
    
    display: inline-block;
    vertical-align: top;
    
    padding-right: 45px;
    
    &:nth-child(1) {
      padding-left: 31px;
    }

    &:last-child {
      padding-right: 0;
    }
           
    input[type="radio"]+label::before {
      content: "";
      position: absolute;
      top: 0;
      left: -30px;
      
      width: 18px;
      height: 18px;
      
      border-radius: 50%;
      
      background-color: transparent;
      border: 1px solid #F8F7F4;  
    }
    &:first-child input[type="radio"]+label::before {
      left: 0;
    }

    input[type="radio"]+label::after {
      content: "";
      
      position: absolute;
      top: 5px;
      left: -25px;
      
      width: 10px;
      height: 10px;
      
      background: transparent;

      border-radius: 50%;
    }

    &:first-child input[type="radio"]+label::after {
      left: 5px;
    }

    input[type="radio"]:checked+label::after {
      background: #FFF;
    }

    input[type="radio"]+label:hover::before {
      width: 16px;
      height: 16px;
      
      border: 2px solid #F8F7F4;
    }

    input[type="radio"]:disabled+label::before,
    input[type="radio"]:disabled input[type="radio"]:checked+label:hover::before  {
      width: 18px;
      height: 18px;
      
      border: 1px solid rgba(248, 247, 244, 0.4);
    }
  }
}

.filter-fillers {

  &__item {
    position: relative;
    
    display: inline-block; 
    vertical-align: top;
    
    padding-right: 50px;
    
    &:nth-child(1) {
      padding-left: 31px;
    }

    &:last-child {
      padding-right: 3px;
    }
        
    
    input[type="checkbox"]+label::before {
      content: "";
      position: absolute;
      top: 0;
      left: -34px;
      
      width: 17px;
      height: 17px;
      
      border-radius: 3px;
      
      background-color: transparent;
      border: 1px solid #F8F7F4;  
    }

    &:first-child input[type="checkbox"]+label::before {
      left: 0;
    }
    &:last-child input[type="checkbox"]+label::before{
      margin-right: 5px;
    }

    input[type="checkbox"]+label::after {
      content: "";
      
      position: absolute;
      top: 3px;
      left: -28px;
      
      width: 5px;
      height: 8px;
      
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
      
      transform: rotate(45deg);
    }

    &:first-child input[type="checkbox"]+label::after {
      left: 6px;
    }

    input[type="checkbox"]:checked+label::after {
      border-right-color: white;
      border-bottom-color: white;
    }

    input[type="checkbox"]+label:hover::before {
      width: 15px;
      height: 15px;
      
      border: 2px solid #F8F7F4;
    }
    input[type="checkbox"]:disabled+label::before,
    input[type="checkbox"]:disabled input[type="checkbox"]:checked+label:hover::before {
      width: 17px;
      height: 17px;
      
      border: 1px solid rgba(248, 247, 244, 0.4);
    }
    input[type="checkbox"]:disabled+label::after,
    input[type="checkbox"]:disabled input[type="checkbox"]:checked+label:hover::after {
      border-right-color: rgba(248, 247, 244, 0.4);
      border-bottom-color: rgba(248, 247, 244, 0.4);
    }
  }
}


///////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  CATALOG  /////////////////////////
//////////////////////////////////////////////////////////////////////////


.main-catalog {
  margin-top: -22px;
}

.catalog {
  margin-bottom: 49px;
}



///////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  PAGINATION  //////////////////////
//////////////////////////////////////////////////////////////////////////


.pagination {
  width: 205px;
  margin-bottom: 38px;
  margin-left: auto;
  margin-right: -1%;
  
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  
  ul {
    @include ul-reset;
  }
  a {
    @include link-reset;
  }
  &__btn {
    display: inline-block;
    vertical-align: top;
    
    width: 26px;
    height: 26px;
    margin-right: 3px;
    
    border-radius: 50%;
    
    text-align: center;
    
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:active {
      color: black;
      background: white;
    }

    a {
      display: inline-block;
      vertical-align: top;  
    }
    
    &--current {
      @include link-disabled;
      
      color: black;
      background: white;
      
    }

    &--disabled {
      @include link-disabled;
      
      color: rgba(255, 255, 255, 0.2);
    }

    &--arrow {
      width: 28px;
      margin-top: 1px;
      
      &:hover {
        background: transparent;
      }
    }
  }
}


///////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  FOOTER  ///////////////////////////
///////////////////////////////////////////////////////////////////////////


.main-footer {
  @include clearfix;
  
  margin-top: 20px;
  padding-bottom: 20px;
  &__catalog {
    padding-top: 19px;
    border-top: $link_underline;
  }
  &__social {
    float: left;
    width: 22.2%;
    margin-right: 2.2%;
    
    &--index {
      margin-top: 17px;
    }
  }
  &__info {

    float: left;
    width: 50.6%;
    margin: 0;
    padding: 0;
    margin-right: 2.2%;
    
    font-size: 13px;
    line-height: 16px;
    
    &--index {
      margin-top: 13px;
    }

    ul {
      @include ul-reset;
      
      max-width: 307px;
      margin: 0 auto;
    }

    li {
      display: inline-block;
      vertical-align: top;
      
      min-width: 140px;
      padding: 0;
      padding-left: 2px;
      margin-bottom: 6px;
    }

    li:first-child {
      margin-left: -20px;
      margin-right: 20px;
    }

    a {
      @include link-reset;
      border-bottom: $link_underline;
      
      @include link-states__green-bg;
    }
  }

  
  &__copyright {
    float: right;
    width: 190px;

    font-size: 12px;
    line-height: 18px;
  }
}

.social__link {
    position: relative;
    
    font-size: 0; 
    margin-right: 13px;
    
    &::before {
      content: "";
        
      position: absolute;
      top: -33px;
      left: 3px;
        
      width: 30px;
      height: 30px;
        
      border-radius: 50%;
        
      background: transparent;
      box-shadow: inset 0 2px 1px 0 transparent;
    }

    &:hover .social__icon {
      color: rgba(255, 255, 255, 0.98);
      border: 3px solid rgba(255, 255, 255, 0.7);
    }

    &:active {
      
      &::before {
        box-shadow: inset 0 2px 1px 0 #888888;
      }

      .social__icon {
        color: #e9e9e9;
        border: 3px solid rgba(254, 254, 254, 0.7);
        box-shadow: inset 0 2px 1px 0 #888888;
      }
    }
  }

  .social__icon {
    color: rgba(247, 246, 243, 0.8);
    border: 3px solid rgba(247, 246, 243, 0.5);
    border-radius: 50%;
    
    &:not(:last-child) {
    margin-right: 12px;
    }
  }


.copyright {

  &__text {
    @include margin-reset;
  }

  &__link {
      @include link-reset;
      
      border-bottom: $link_underline; 
      
      @include link-states__green-bg; 
  }

  &__logo {
    color: white;
  }
}




///////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  FEEDBACK-FORM  ////////////////////
//////////////////////////////////////////////////////////////////////////

.feedback-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  
  background-color: rgba(0, 0, 0, 0.3);
  
  &--no-js {
    position: static;
    display: block;
    background-color: transparent;
    
    .feedback-form__inner {
      position: relative;
      animation: initial;
    }
  }

  &__inner {
    @include clearfix;
    
    position: absolute;
    top: 20%;
    left: 37%;
    
    width: 428px;
    padding: 20px 25px;
  
    background-color: #f8f7f4;
    color: #343434;
    
    border-radius: 10px;
    
    animation: bounce 0.6s ease-in;

    textarea {
      box-sizing: border-box;
      min-height: 155px;
      width: 429px;
      resize: none;
      overflow: auto;
    }

    .form-hint {
      font-size: 16px;
    }

    input[type="email"],
    input[type="text"] {
      width: 267px;
    }  

    .lostfocus {
      font-size: 11px;
      line-height: 24px;
    }
  }
  
  &__btn--close {
    position: absolute;
    top: 15px;
    right: 15px;

    width: 22px;
    height: 22px;

    font-size: 0;

    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 8px;
      right: -2px;

      width: 24px;
      height: 2px;
      background-color: #000000;
      border-radius: 2px;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }

  &__title {
    @include margin-reset;
    
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 22px;
    font-weight: 500;
  }
  
  &__btn {
    display: block;
    
    padding: 0 25px;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 7px;
    
    color: white;
        
    font-size: 17px;
    line-height: 43px;
  }
}



.feedback-form--show {
  display: block;
}

.feedback-form--error  .feedback-form__inner{
  animation: shake 0.2s;
}

