@charset "UTF-8";
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #849d8f;
  color: white;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.main-header__wrap,
.slider__wrap,
.bunners__wrap,
.popular__wrap,
.features__wrap,
.contacts,
.catalog-header__wrap,
.search-options__wrap,
.catalog,
.pagination__wrap,
.main-footer__wrap {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
}

.main-header,
.slider,
.bunners,
.features,
.contacts,
.catalog-header,
.search-options,
.pagination,
.main-footer {
  padding: 0 2.3%;
}

.main-feedback {
  height: 77vh;
}

h1 {
  color: white;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 72px;
}

h2 {
  color: white;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}

h3 {
  color: #323;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  50% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  75% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  80% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  90% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  50% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  75% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  80% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  90% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.slider {
  z-index: 1;
}

.sub-menu {
  z-index: 10;
}

.user-block__popup {
  z-index: 10;
}

.bunner-blog__img {
  z-index: 2;
}

.bunner-blog__inner {
  z-index: 3;
}

.catalog-item__btn {
  z-index: 20;
}

.popular .catalog-item::before {
  z-index: 6;
}

.adress-block {
  z-index: 1;
}

.feedback-form {
  z-index: 100;
}

.catalog-background {
  min-width: 120vh;
  background-image: -webkit-linear-gradient(#9db1a5, #849d8f);
  background-image: linear-gradient(#9db1a5, #849d8f);
}

.btn--red {
  display: block;
  padding: 0;
  border: 0 none;
  outline: 0 none;
  color: white;
  background-color: #f26843;
  background-image: -webkit-linear-gradient(#f26843, #e74a35);
  background-image: linear-gradient(#f26843, #e74a35);
  color: inherit;
  text-decoration: none;
  border-radius: 25px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76), 0 0 5px rgba(61, 61, 46, 0.34);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.btn--red:hover {
  background: #f26843;
  background-image: -webkit-linear-gradient(#f58669, #ec6f5e);
  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 2px 2px 0 #ac1000;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76), 0 0 5px rgba(61, 61, 46, 0.34);
}

.btn--red:active {
  background: #f26843;
  background-image: -webkit-linear-gradient(#d84732, #e1603e);
  background-image: linear-gradient(#d84732, #e1603e);
  box-shadow: inset 0 2px 2px 0 #942718;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76), 0 0 5px rgba(61, 61, 46, 0.34);
}

.textarea {
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  color: #353535;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.textarea:hover {
  border: 1px solid #c7c6c5;
  box-shadow: inset 0 0 0 1px #c7c6c5;
}

.textarea:focus + .placeholder .form-hint {
  top: -72px;
  font-size: 11px;
  line-height: 24px;
  color: #5b9ddf;
}

.placeholder {
  position: relative;
}

.form-hint {
  position: absolute;
  left: 15px;
  top: -42px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  -webkit-transition: 0.2s ease all;
          transition: 0.2s ease all;
}

.lostfocus {
  top: -72px;
  font-size: 11px;
  line-height: 24px;
  color: #9a9a9a;
}

.big-area .form-hint {
  top: -160px;
}

.big:focus + .placeholder .form-hint {
  top: -192px;
}

.big-area .lostfocus {
  top: -192px;
}

.main-header {
  position: relative;
  min-height: 115px;
  margin-top: -14px;
}

.main-header::after {
  content: "";
  display: table;
  clear: both;
}

.main-header__logo {
  float: left;
  width: 154px;
  margin-left: -7px;
  padding-top: 8px;
}

.main-header__img {
  color: white;
}

.main-header__contacts {
  width: 200px;
  margin-left: auto;
  text-align: right;
}

.main-header__contacts a {
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
}

.main-header__hours {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}

.main-nav {
  position: absolute;
  left: 154px;
  right: 270px;
}

.main-nav__menu {
  padding-top: 22px;
  margin-left: 35px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  vertical-align: top;
  padding: 0 14px;
  line-height: 33px;
}

.main-nav__item a {
  border-bottom: 1px solid rgba(230, 230, 235, 0.4);
  color: inherit;
  text-decoration: none;
}

.main-nav__item:hover {
  background: #f7f6f3;
  color: black;
  font-weight: bold;
  border-radius: 20px;
}

.main-nav__item:hover a {
  border-bottom: 0;
}

.main-nav__item:active {
  background: #f7f6f3;
  color: black;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.main-nav__item:active a {
  border-bottom: 0;
}

.main-nav__item--current {
  background: #D07058;
  border-radius: 20px;
  font-weight: bold;
}

.main-nav__item--current a {
  border-bottom: 0;
}

.main-nav__item--dropdown {
  position: relative;
  margin-bottom: 10px;
}

.main-nav__item--dropdown:hover > .sub-menu {
  display: block;
}

.user-block__btn--search:hover .user-block__popup--search {
  display: block;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 37px;
  left: -7px;
  min-width: 143px;
  background: #F8F7F4;
  color: #343434;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

.sub-menu ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.sub-menu__item a {
  display: block;
  margin: 0 8px;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 0;
}

.sub-menu__item:hover {
  background: #FBDED7;
}

.sub-menu__item:active {
  background: #F6B5A5;
}

.sub-menu__item--current {
  pointer-events: none;
  cursor: default;
  color: white;
  background: #D07058;
}

.sub-menu__item--current:hover {
  background: #D07058;
}

.sub-menu__item:first-child a {
  padding-top: 9px;
  padding-bottom: 10px;
  border-bottom: 1px solid #D1D0CE;
  font-weight: bold;
}

.sub-menu__item:first-child:hover {
  background: #FBDED7;
  border-radius: 5px 5px 0 0;
}

.sub-menu__item:first-child:active {
  background: #F6B5A5;
  border-radius: 5px 5px 0 0;
}

.sub-menu__item:nth-child(2) {
  padding-top: 2px;
}

.sub-menu__item:last-child:hover {
  background: #FBDED7;
  border-radius: 0 0 5px 5px;
}

.sub-menu__item:last-child:active {
  background: #F6B5A5;
  border-radius: 0 0 5px 5px;
}

.user-block {
  float: right;
  max-width: 270px;
  padding-top: 22px;
  margin-bottom: 7px;
}

.user-block__element {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 32px;
  margin-right: 7px;
  text-align: right;
}

.user-block__element:last-child {
  margin-right: 0;
}

.user-block__btn {
  display: block;
  padding: 0 45px;
  padding-right: 15px;
  margin-bottom: 10px;
  color: inherit;
  text-decoration: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 14px;
  line-height: 32px;
  font-weight: 500;
}

.user-block__btn--icon {
  position: absolute;
  left: 15px;
  top: 6px;
}

.user-block__btn--icon:nth-child(2) {
  position: absolute;
  left: 20px;
  top: 10px;
  color: transparent;
}

.user-block__btn--search {
  width: 32px;
  height: 32px;
  padding: 0;
}

.user-block__btn--search .user-block__btn--icon {
  left: 7px;
  top: 7px;
}

.user-block__btn--basket {
  min-width: 57px;
  text-align: center;
}

.user-block__btn:hover {
  background: #F8F7F4;
  color: black;
}

.user-block__btn:hover .user-block--icon:first-child {
  color: black;
}

.user-block__btn:hover .basket-filled {
  background: #F8F7F4;
  color: black;
}

.user-block__btn:hover .basket-filled--icon {
  color: black;
}

.user-block__btn:hover .basket-filled--icon:nth-child(2) {
  color: #e1603e;
}

.user-block__popup {
  display: none;
  position: absolute;
  top: 10px;
  left: -7px;
  padding: 0 16px;
  background-color: #F8F7F4;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}

.user-block__popup--search {
  top: 36px;
  left: -295px;
  width: 310px;
  padding: 10px;
  border-radius: 5px;
}

.user-block__popup--login {
  top: 36px;
  left: -180px;
  width: 240px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-block__popup--login::after {
  content: "";
  display: table;
  clear: both;
}

.user-block__popup--basket {
  top: 36px;
  left: -425px;
  width: 510px;
  padding-top: 16px;
  padding-bottom: 18px;
  color: #333;
}

.user-block__element:hover > .user-block__popup {
  display: block;
}

.basket-filled svg:nth-child(2) {
  color: #e1603e;
}

.basket-filled:hover svg:nth-child(1) {
  color: black;
}

.basket-filled:hover svg:nth-child(1):nth-child(2) {
  color: #e1603e;
}

.basket-filled:hover .basket-filled__popup {
  display: block;
}

.login__btn,
.login__support {
  margin-top: 5px;
}

.login__btn {
  float: left;
  padding: 7px 30px;
  font-size: 15px;
}

.login__support {
  float: right;
  width: 120px;
}

.login__support a {
  display: inline-block;
  vertical-align: top;
  color: inherit;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 13px;
  line-height: 12px;
}

.login__support a:hover {
  color: #ec593c;
  border-bottom: 1px solid rgba(236, 89, 60, 0.3);
}

.login__support a:active {
  color: #ec593c;
  border-bottom: 1px solid rgba(236, 89, 60, 0.3);
}

.basket__table {
  border-bottom: 1px solid #cacac7;
}

.basket__row {
  display: block;
  padding-top: 20px;
}

.basket__row:nth-child(2) {
  padding-top: 10px;
  padding-bottom: 5px;
}

.basket__cell {
  padding-bottom: 5px;
  padding-right: 14px;
  vertical-align: top;
  font-size: 13px;
  line-height: 18px;
}

.basket__cell:nth-child(2) {
  margin-top: -4px;
}

.basket__btn--delete {
  position: relative;
  width: 10px;
  height: 30px;
  background: transparent;
  border: 0 none;
  outline: 0 none;
  cursor: pointer;
}

.basket__btn--delete::after,
.basket__btn--delete:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 5px;
  width: 1px;
  height: 15px;
  border-radius: 1px;
  background-color: #333;
}

.basket__btn--delete::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.basket__btn--delete::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.basket__cell:nth-child(3) {
  width: 217px;
}

.basket__cell:nth-child(4) {
  width: 97px;
  padding-left: 14px;
  color: #808080;
}

.basket--bold {
  color: #333;
}

.basket__cell:nth-child(5) {
  width: 50px;
  padding-left: 13px;
}

.basket__summary {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 10px;
  text-align: right;
  font-size: 15px;
}

.basket__btn {
  float: right;
  margin-bottom: 4px;
  padding: 0 21px;
  color: white;
  font-size: 15px;
  line-height: 34px;
}

.toggle {
  display: none;
}

.index-background {
  min-width: 960px;
  margin-top: -14px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.index-background::before,
.index-background::after {
  content: "";
  visibility: hidden;
}

.index-background::before,
.index-background::after {
  background-image: url("../img/background/slide-1.png");
}

.index-background::after {
  background-image: url("../img/background/slide-2.png");
}

.toggle--1:checked ~ .index-background {
  background-color: #849d8f;
  background-image: url("../img/background/slide-1.png");
}

.toggle--2:checked ~ .index-background {
  background-color: #8996a6;
  background-image: url("../img/background/slide-2.png");
}

.toggle--3:checked ~ .index-background {
  background-color: #a7958e;
  background-image: url("../img/background/slide-3.png");
}

.slider {
  position: relative;
  margin-bottom: 42px;
  padding-top: 200px;
  overflow: hidden;
}

.slider__item {
  display: none;
}

.slider__text {
  width: 690px;
  margin: 0 auto;
  margin-top: 73px;
  text-align: center;
}

.slider__title {
  margin-bottom: 28px;
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider__controls--wrap {
  position: absolute;
  bottom: 20px;
  display: block;
  width: 100px;
}

.slider__btn {
  height: 63px;
  width: 280px;
  margin: 0 auto;
  border-radius: 100px;
  font-size: 32px;
  line-height: 63px;
}

.slider__control {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin-right: 3px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 0;
}

.toggle--1:checked ~ .index-background .slider__control--1,
.toggle--2:checked ~ .index-background .slider__control--2,
.toggle--3:checked ~ .index-background .slider__control--3 {
  background-color: #fff;
}

.toggle--1:checked ~ .index-background .slider__item--1 {
  display: block;
}

.toggle--2:checked ~ .index-background .slider__item--2 {
  display: block;
}

.toggle--3:checked ~ .index-background .slider__item--3 {
  display: block;
}

.bunners {
  margin-bottom: 15px;
}

.bunners::after {
  content: "";
  display: table;
  clear: both;
}

.bunner {
  position: relative;
  width: 48.9%;
  box-sizing: border-box;
  height: 230px;
  padding: 15px 18px;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 18px;
}

.bunner__left {
  float: left;
}

.bunner__right {
  float: right;
}

.bunner__title {
  margin: 0;
  margin-bottom: 17px;
}

.bunner__text {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  padding-right: 10px;
}

.bunner__btn {
  position: absolute;
  bottom: 25px;
  right: 21px;
  float: right;
  padding: 0 23px;
  line-height: 47px;
}

.bunner-raspberry {
  background: #ae1d40 url("../img/background/bg-raspberry.jpg") no-repeat;
}

.bunner-choco {
  background: #3a1d13 url("../img/background/bg-chocolate.jpg") no-repeat;
}

.bunner-blog {
  position: relative;
  height: 220px;
  padding: 0;
  background: white;
}

.bunner-blog .bunner-blog__img {
  position: absolute;
  right: 0;
  border-radius: 18px;
}

.bunner-blog__inner {
  position: absolute;
  left: 20px;
  width: 300px;
  padding: 23px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #353535;
}

.bunner-blog__descript {
  margin: 0;
  margin-bottom: 3px;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.bunner-blog__title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.bunner-blog__title a {
  color: inherit;
  text-decoration: none;
  color: #353535;
  background: rgba(251, 251, 251, 0.8);
  border-bottom: 1px solid black;
}

.bunner-blog__title a:hover {
  color: #ec593c;
  border-bottom: 1px solid rgba(236, 89, 60, 0.3);
}

.bunner-blog__title a:active {
  color: #ec593c;
  border-bottom: 1px solid rgba(236, 89, 60, 0.3);
}

.bunner-subscript {
  height: 220px;
  padding: 6px;
  background: #f8f7f4;
  background-image: url("../img/background/pattern-postcard.png");
}

.bunner-subscript__inner {
  position: relative;
  height: 161px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 34px;
  border-radius: 10px;
  color: #5a5a5a;
  background: #f8f7f4;
}

.bunner-subscript__inner p {
  min-height: 90px;
  margin-bottom: 2px;
}

.bunner-subscript__email--wrap {
  margin-right: 140px;
}

.bunner-subscript__email {
  width: 100%;
  outline: 0 none;
  border-radius: 3px;
}

.bunner-subscript .form-hint {
  left: 11px;
  font-size: 16px;
}

.bunner-subscript .lostfocus {
  font-size: 11px;
}

.bunner-subscript__btn {
  position: static;
  float: right;
  min-width: 120px;
  margin-top: 7px;
  padding: 0 20px;
  color: white;
  font-size: 17px;
  line-height: 44px;
  border: none;
}

.catalog-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 22.75%;
  padding-right: 1.15%;
  padding-left: 1.15%;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: 14px;
  margin-right: -26px;
  margin-bottom: 10px;
  background-color: transparent;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.catalog-item__inner {
  position: relative;
}

.catalog-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-item__img {
  position: relative;
  max-width: 100%;
  height: auto;
  margin-bottom: 6px;
}

.catalog-item__link {
  color: inherit;
  text-decoration: none;
}

.catalog-item__title {
  margin: 0;
  text-align: center;
  font-weight: normal;
}

.catalog-item__title--inner {
  border-bottom: 1px solid rgba(230, 230, 235, 0.4);
}

.catalog-item:hover .catalog-item__title--inner {
  border: none;
}

.catalog-item__price {
  position: absolute;
  bottom: 8%;
  font-size: 45px;
  line-height: 1.2;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item__price span {
  font-size: 30px;
}

.catalog-item__btn {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
}

.catalog-item__btn a {
  display: block;
  width: 194px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
}

.catalog-item:hover .catalog-item__btn {
  display: block;
}

.popular {
  padding-left: 1.15%;
  padding-right: 1.15%;
  margin-bottom: 9px;
}

.popular .catalog-item {
  margin-left: 0px;
  margin-right: -4px;
}

.popular .catalog-item::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 12px;
  display: block;
  height: 70px;
  width: 71px;
  background: url("../img/icon/icon-hit.png") no-repeat;
}

.features {
  margin-bottom: 40px;
  margin-left: 2.3%;
  margin-right: 2.3%;
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-right: 2px;
  background: #f4d77b url("../img/background/pattern-waffle.jpg");
  color: #323232;
  border-radius: 13px;
}

.features__title {
  margin: 0;
  margin-bottom: 7px;
  color: #323232;
}

.features__item {
  margin: 0;
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 49%;
  margin-bottom: -10px;
}

.features__item:nth-child(odd) {
  padding-left: 10px;
}

.features__item:nth-last-of-type(1),
.features__item:nth-last-of-type(2) {
  margin-bottom: 0;
}

.features__text {
  padding-left: 55px;
}

.features__text:last-child,
.features__text:nth-last-child {
  margin-bottom: 0;
}

.features__icon {
  position: absolute;
  top: 2px;
  left: -3px;
  fill: #323232;
}

.features__item:nth-of-type(even) .features__icon {
  left: 9px;
}

.map {
  width: 100%;
  height: 430px;
  margin-top: 25px;
  background: transparent url("../img/background/map_1200x430.jpg") no-repeat 50% 0;
}

.contacts {
  position: relative;
  box-sizing: border-box;
}

.adress-block {
  position: absolute;
  top: 65px;
  right: 2.3%;
  width: 253px;
  padding: 29px 26px;
  border-radius: 14px;
  color: #343434;
  background-color: white;
  font-size: 14px;
  line-height: 20px;
}

.adress-block__item {
  margin: 0;
  margin-bottom: 18px;
}

.adress-block__item--bold {
  margin: 0;
  margin-bottom: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: black;
}

.adress-block__item--bold a {
  color: inherit;
  text-decoration: none;
}

.adress-block__btn {
  margin-top: 25px;
  padding: 0 33px;
  color: white;
  font-size: 17px;
  line-height: 44px;
}

.catalog-header {
  margin-bottom: 33px;
}

.catalog-header__breadcrumbs {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 19px;
}

.catalog-header__breadcrumbs a {
  color: inherit;
  text-decoration: none;
}

.catalog-header__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  border-bottom: 1px solid rgba(230, 230, 235, 0.4);
}

.catalog-header__item:not(:last-child)::after {
  content: "»";
  position: absolute;
  top: 0px;
  left: 61px;
  pointer-events: none;
  cursor: default;
  color: white;
}

.catalog-header__item:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.catalog-header__item:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.catalog-header__item:last-child {
  pointer-events: none;
  cursor: default;
  margin-right: 0;
  border-bottom: none;
}

.catalog-header__title {
  margin: 0;
  font-size: 35px;
  line-height: 30px;
  font-weight: bold;
}

.search-options {
  width: 880px;
  margin-bottom: 12px;
}

.search-options__filter {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 18px;
  margin-right: 10px;
}

.search-options__title {
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: 15px;
  font-size: 14px;
  line-height: 18px;
}

.search-options__fieldset {
  border: 0;
  outline: 0;
  padding: 0;
}

.search-options__fieldset legend {
  font-size: 14px;
  font-weight: bold;
}

.search-options__btn {
  margin-top: 22px;
  padding: 0 27px;
  border: 2px solid #f5f6f5;
  outline: 0;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 30px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
}

.search-options__btn:hover {
  background-color: #FAFBFB;
  color: #363636;
}

.search-options__btn:active {
  padding: 0 29px;
  border: none;
  background-color: #EAEAEA;
  color: #363636;
  box-shadow: inset 0 2px 1px #696969;
  line-height: 36px;
}

.search-options input[type="radio"],
.search-options input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.search-options label {
  cursor: pointer;
}

.search-options input:disabled + label {
  cursor: auto;
}

.filter-fatness,
.filter-fillers,
.filter-price {
  padding: 6px 15px;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 30px;
}

.filter-sorting {
  width: 120%;
  height: 35px;
  padding: 5px 11px;
  border: 0;
  outline: 0;
  background-color: #a9b9af;
  color: white;
}

.filter-sorting__wrap {
  position: relative;
  overflow-x: hidden;
  border-radius: 20px;
}

.filter-sorting__wrap::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 13px;
  border: 4px solid transparent;
  border-top: 5px solid white;
}

.filter-sorting option {
  background-color: white;
  color: black;
}

.filter-sorting:focus {
  background-color: white;
  color: black;
}

.filter-price {
  height: 23px;
}

.filter-price__scale {
  position: relative;
  width: 190px;
  height: 4px;
  margin-top: 9px;
  background-color: rgba(248, 247, 244, 0.5);
}

.filter-price__bar {
  position: absolute;
  top: 0;
  left: 18px;
  width: 100px;
  height: 4px;
  background-color: #F8F7F4;
}

.filter-price__toggle {
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #F8F7F4;
  box-shadow: 0 1px 1px rgba(105, 105, 105, 0.6);
  cursor: pointer;
}

.filter-price__toggle--min {
  left: 0;
}

.filter-price__toggle--max {
  left: 100%;
}

.filter-fatness__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 45px;
}

.filter-fatness__item:nth-child(1) {
  padding-left: 31px;
}

.filter-fatness__item:last-child {
  padding-right: 0;
}

.filter-fatness__item input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #F8F7F4;
}

.filter-fatness__item:first-child input[type="radio"] + label::before {
  left: 0;
}

.filter-fatness__item input[type="radio"] + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
}

.filter-fatness__item:first-child input[type="radio"] + label::after {
  left: 5px;
}

.filter-fatness__item input[type="radio"]:checked + label::after {
  background: #FFF;
}

.filter-fatness__item input[type="radio"] + label:hover::before {
  width: 16px;
  height: 16px;
  border: 2px solid #F8F7F4;
}

.filter-fatness__item input[type="radio"]:disabled + label::before,
.filter-fatness__item input[type="radio"]:disabled input[type="radio"]:checked + label:hover::before {
  width: 18px;
  height: 18px;
  border: 1px solid rgba(248, 247, 244, 0.4);
}

.filter-fillers__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 50px;
}

.filter-fillers__item:nth-child(1) {
  padding-left: 31px;
}

.filter-fillers__item:last-child {
  padding-right: 3px;
}

.filter-fillers__item input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -34px;
  width: 17px;
  height: 17px;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #F8F7F4;
}

.filter-fillers__item:first-child input[type="checkbox"] + label::before {
  left: 0;
}

.filter-fillers__item:last-child input[type="checkbox"] + label::before {
  margin-right: 5px;
}

.filter-fillers__item input[type="checkbox"] + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -28px;
  width: 5px;
  height: 8px;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.filter-fillers__item:first-child input[type="checkbox"] + label::after {
  left: 6px;
}

.filter-fillers__item input[type="checkbox"]:checked + label::after {
  border-right-color: white;
  border-bottom-color: white;
}

.filter-fillers__item input[type="checkbox"] + label:hover::before {
  width: 15px;
  height: 15px;
  border: 2px solid #F8F7F4;
}

.filter-fillers__item input[type="checkbox"]:disabled + label::before,
.filter-fillers__item input[type="checkbox"]:disabled input[type="checkbox"]:checked + label:hover::before {
  width: 17px;
  height: 17px;
  border: 1px solid rgba(248, 247, 244, 0.4);
}

.filter-fillers__item input[type="checkbox"]:disabled + label::after,
.filter-fillers__item input[type="checkbox"]:disabled input[type="checkbox"]:checked + label:hover::after {
  border-right-color: rgba(248, 247, 244, 0.4);
  border-bottom-color: rgba(248, 247, 244, 0.4);
}

.main-catalog {
  margin-top: -22px;
}

.catalog {
  margin-bottom: 49px;
}

.pagination {
  width: 205px;
  margin-bottom: 38px;
  margin-left: auto;
  margin-right: -1%;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

.pagination ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.pagination a {
  color: inherit;
  text-decoration: none;
}

.pagination__btn {
  display: inline-block;
  vertical-align: top;
  width: 26px;
  height: 26px;
  margin-right: 3px;
  border-radius: 50%;
  text-align: center;
}

.pagination__btn:last-child {
  margin-right: 0;
}

.pagination__btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination__btn:active {
  color: black;
  background: white;
}

.pagination__btn a {
  display: inline-block;
  vertical-align: top;
}

.pagination__btn--current {
  pointer-events: none;
  cursor: default;
  color: black;
  background: white;
}

.pagination__btn--disabled {
  pointer-events: none;
  cursor: default;
  color: rgba(255, 255, 255, 0.2);
}

.pagination__btn--arrow {
  width: 28px;
  margin-top: 1px;
}

.pagination__btn--arrow:hover {
  background: transparent;
}

.main-footer {
  margin-top: 20px;
  padding-bottom: 20px;
}

.main-footer::after {
  content: "";
  display: table;
  clear: both;
}

.main-footer__catalog {
  padding-top: 19px;
  border-top: 1px solid rgba(230, 230, 235, 0.4);
}

.main-footer__social {
  float: left;
  width: 22.2%;
  margin-right: 2.2%;
}

.main-footer__social--index {
  margin-top: 17px;
}

.main-footer__info {
  float: left;
  width: 50.6%;
  margin: 0;
  padding: 0;
  margin-right: 2.2%;
  font-size: 13px;
  line-height: 16px;
}

.main-footer__info--index {
  margin-top: 13px;
}

.main-footer__info ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  max-width: 307px;
  margin: 0 auto;
}

.main-footer__info li {
  display: inline-block;
  vertical-align: top;
  min-width: 140px;
  padding: 0;
  padding-left: 2px;
  margin-bottom: 6px;
}

.main-footer__info li:first-child {
  margin-left: -20px;
  margin-right: 20px;
}

.main-footer__info a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(230, 230, 235, 0.4);
}

.main-footer__info a:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.main-footer__info a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.main-footer__copyright {
  float: right;
  width: 190px;
  font-size: 12px;
  line-height: 18px;
}

.social__link {
  position: relative;
  font-size: 0;
  margin-right: 13px;
}

.social__link::before {
  content: "";
  position: absolute;
  top: -33px;
  left: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  box-shadow: inset 0 2px 1px 0 transparent;
}

.social__link:hover .social__icon {
  color: rgba(255, 255, 255, 0.98);
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social__link:active::before {
  box-shadow: inset 0 2px 1px 0 #888888;
}

.social__link:active .social__icon {
  color: #e9e9e9;
  border: 3px solid rgba(254, 254, 254, 0.7);
  box-shadow: inset 0 2px 1px 0 #888888;
}

.social__icon {
  color: rgba(247, 246, 243, 0.8);
  border: 3px solid rgba(247, 246, 243, 0.5);
  border-radius: 50%;
}

.social__icon:not(:last-child) {
  margin-right: 12px;
}

.copyright__text {
  margin: 0;
}

.copyright__link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(230, 230, 235, 0.4);
}

.copyright__link:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.copyright__link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.copyright__logo {
  color: white;
}

.feedback-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.feedback-form--no-js {
  position: static;
  display: block;
  background-color: transparent;
}

.feedback-form--no-js .feedback-form__inner {
  position: relative;
  -webkit-animation: initial;
          animation: initial;
}

.feedback-form__inner {
  position: absolute;
  top: 20%;
  left: 37%;
  width: 428px;
  padding: 20px 25px;
  background-color: #f8f7f4;
  color: #343434;
  border-radius: 10px;
  -webkit-animation: bounce 0.6s ease-in;
          animation: bounce 0.6s ease-in;
}

.feedback-form__inner::after {
  content: "";
  display: table;
  clear: both;
}

.feedback-form__inner textarea {
  box-sizing: border-box;
  min-height: 155px;
  width: 429px;
  resize: none;
  overflow: auto;
}

.feedback-form__inner .form-hint {
  font-size: 16px;
}

.feedback-form__inner input[type="email"],
.feedback-form__inner input[type="text"] {
  width: 267px;
}

.feedback-form__inner .lostfocus {
  font-size: 11px;
  line-height: 24px;
}

.feedback-form__btn--close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.feedback-form__btn--close::after,
.feedback-form__btn--close::before {
  content: "";
  position: absolute;
  top: 8px;
  right: -2px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  border-radius: 2px;
}

.feedback-form__btn--close::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.feedback-form__btn--close::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.feedback-form__title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 22px;
  font-weight: 500;
}

.feedback-form__btn {
  display: block;
  padding: 0 25px;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 7px;
  color: white;
  font-size: 17px;
  line-height: 43px;
}

.feedback-form--show {
  display: block;
}

.feedback-form--error .feedback-form__inner {
  -webkit-animation: shake 0.2s;
          animation: shake 0.2s;
}
